  <div class="ui inverted vertical footer segment" style="margin-top:52px">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Moon Shots</a>
            <a href="#" class="item">Orbital Calculations</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Solar Flare Observation</a>
            <a href="#" class="item">Go/No-go Calculations</a>
            <a href="#" class="item">Euler Derivations</a>
            <a href="#" class="item">Asteroid Prospecting</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Space Is The Place</h4>
          <p>Don't be held down by gravity! There's a lot more nothing to see in space!</p>
        </div>
      </div>
    </div>
  </div>