<div class="ui fixed inverted menu" style="border:0;background-color:#000;height:40px;">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item">Products</a>
    <a class="item">About</a>
    
    <div id="auth" class="right item">

      <a class="nav item" >Login</a>

      <a class=" item" href="/order">
        <i class = "cart icon"></i> Cart
      </a>

    </div>
  </div>
</div>